/.phpunit.cache
/main/node_modules
/main/public/build
/main/public/hot
/main/public/storage
/main/storage/*.key
/main/vendor
/main/.env
/main/.env.backup
/main/.env.production
/main/.phpunit.result.cache
/main/Homestead.json
/main/Homestead.yaml
/main/auth.json
/main/npm-debug.log
/main/yarn-error.log
/main/.fleet
/main/.idea
/main/.vscode
